body {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playground {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 0%;
    align-items: center;
}